$min_width: 1070px;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: Akrobat;
  src: url(./fonts/Akrobat-Regular.otf);
}
body{
  height: 100%;
}

.container-fluid{
  min-width: $min_width;
  width: 100%;
  display: flex;
  min-height: 100vh;
  padding: 0 !important;
  flex-flow: column;
}

.content {
  flex: 1 1 auto;
  background-color: white;
  display: flex;
  flex-flow: column;
}

.header {
  flex: 0 1 60px;
  width: 100%;
  background-color:  rgba(255, 255, 255, 1);
  position: fixed;
  z-index: 2;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);

  .header__content{
    margin: auto;
    max-width: 1111px;
    min-width: 960px;
    height: 60px;
    display: flex;
    flex-direction: row;

  .header__title{
    position: relative;
    margin-right: auto;
    display: flex;
    height: 100%;

    h1{
      font-size: 40px;
      margin: auto;
    }
    a{
      color: black;
      text-decoration: none;
    }
  }
  .header__navLanding{
    display: flex;

    a{
      color: black;
      margin-left: 10px;
    }
    h3{
      font-family: 'Akrobat';
      font-size: 20px;
    }

  }
  .header__navbar{
    min-width: 300px;
    width: 400px;
    height: 30px;
    background-color:rgba(255, 255, 255, 1);
    text-align: center;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    top: 50%;
    transform: translateY(-50%);

    .btn{
      height: 100%;
      margin-left: 10px;
      padding: 6px 12px !important;
      font-size: 14px !important;
      border-radius: 10px;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
      border: none !important;
    }

    .btn:hover{
      background-color: rgba(235, 174, 41, 1) !important;
    }

    .btn:focus{
      background-color: rgba(235, 174, 41, 1) !important;
    }

    .header__profileBtn{
      span {
        margin-left: 5px;
      }
    }
    .dropdown-menu{
      min-width: 120px;
      text-align: center;
    }
  }
  }
}

.footer {
  flex: 0 1 70px;
  background-color: #a1a1a1;
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.createLot{
  flex: 1 1 auto;
  width: 100%;
  max-width: 1111px;
  min-width:$min_width;
  margin: 60px auto auto auto;
  display: flex;
  flex-direction: column;

  h1{
    font-size: 46px;
    font-family: 'Akrobat';
    margin-top: 65px;
    margin-bottom: 40px;
  }

  .createLot__info{
    position: relative;
    margin:0 auto 60px 0;
    height: 390px;
    width: 990px;
    display: flex;
    flex-direction: row;

    .createLot__addImg{
      height:100%;
      width: 520px;
      margin-right: 20px;
      display: flex;
      flex-direction: row;
      box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);

      .btn{
        width: 100%;
        height: 100%;
        margin: 0;
      }

      .createLot__mainImg{
        height: 390px;
        width: 390px;

        .img-picker{
          height: 100%;

          .text-center{
            height: 100%;

            img{
              height: 100% !important;
            }

            .btn{
              display: none;
            }
          }
        }
      }
      .createLot__secondaryImg{
        height: 100%;
        width: 130px;
        display: flex;
        flex-direction: column;

        .img-picker{
          height: 78px;

          .text-center{
            height: 100%;

            img{
              height: 100% !important;
            }

            .btn{
              display: none;
            }
          }
        }
      }
      .img-upload-btn {
        position: relative;
        overflow: hidden;
      }

      .img-upload-btn input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
      }

      .img-upload-btn i {
        position: absolute;
        height: 16px;
        width: 16px;
        top: 50%;
        left: 50%;
        margin-top: -8px;
        margin-left: -8px;
      }

      .btn-radio {
        position: relative;
        overflow: hidden;
      }

      .btn-radio input[type=radio] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
      }
    }

    .createLot__addInfo{
      height:100%;
      width: 450px;

      .btn{
        width: 100%;
        height: 49px;
        margin-top: 2px;
        display: flex;
        justify-content: center;
        background-color: rgba(255, 174, 0, 1);
        border-radius: 5px;
        box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.35);
        border: none;

        h2{
          margin: auto;
          font-family: 'Akrobat';
        }
      }

      .btn:hover{
        background-color: rgba(253, 198, 76, 1)
      }

      .form-horizontal{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
      }
      .form-group{
        margin: 0 0 20px 0;
        display: flex;
        flex-flow: row;
        width: 100%;

        .form-control[readonly]{
          background-color: white;
        }

        .form-control{
          height: 28px;
          padding: 2px 12px;
        }

        textarea{
          resize: none;
          height: 86px !important;
        }
        label{
          display: flex;
          justify-content: center;
          margin-right: 20px;
          max-width: 300px;
          h3{
            margin: auto auto auto 0;
            white-space: nowrap;
            font-family: 'Akrobat';
            font-size: 18px;
          }
        }
        select{
          width: 150px;
          margin-left:auto;
        }
      }

      .createLot__title{
        margin-top: 10px;

      }

      .createLot__description {
        display: flex;
        flex-direction: column;
      }

      .createLot__datepicker{
        margin-left: auto;
      }
    }
  }
}

.landing{
  margin-top: 60px;
  .textBtnLndg{
    font-family: 'Akrobat';
    font-size: 25px !important;
    margin-top: 0 !important;
  }
  .landing__greeting{
    height: 715px;
    width: 100%;
    background-image: linear-gradient(-90deg, rgba(255, 168, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 90.2%, 0% 100%);
    overflow: auto;

    .greeting__block{
      height: 372px;
      width: 1190px;
      display: flex;
      margin: 150px auto auto auto;


      .greeting__text{
        display: flex;
        flex-direction: column;
        margin-right: 35px;

        h1{
          font-size: 45px;
          font-family: 'Akrobat';
          margin-top: 70px;
        }
        h2{
          font-size: 35px;
          font-family: 'Akrobat';
          margin-bottom: 15px;
        }
        h3{
          font-size: 30px;
          font-family: 'Akrobat';
          margin-top: 0;
        }

        .btn{
          height: 50px;
          width: 150px;
          background-color: rgba(255, 176, 0, 1) !important;
          border: 2px solid rgba(0, 0, 0, 1) !important;
          border-radius: 25px !important;
          padding: 7px 16px;
        }
        .btn:hover{
          background-color: rgba(253, 198, 76, 1) !important;
        }
      }

      .greeting__img{
        height: 100%;
        width: 514px;
        border-radius: 5px;

        img{
          width: 100%;
        }
      }

      .greeting__btns{
        display: flex;
        width: 318px;
        justify-content: space-between;
      }
    }
  }

  .landing__opportunities{
    height: 433px;
    width: 100%;
    overflow: auto;

    h1{
      font-family: 'Akrobat';
      font-size: 60px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 33px;
    }

    h2{
      font-family: 'Akrobat';
      margin-top: 25px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 35px;
    }

    p{
      font-family: 'Akrobat';
      font-size: 23px;
      margin-bottom: 0;
      padding-left: 20px;
    }

    .opportunities__block{
      width: 905px;
      height: 300px;
      display: flex;
      justify-content: space-between;
      margin: auto;

      .join{
        width: 430px;
        height: 100%;
        background-image: linear-gradient(-45deg, rgba(224, 224, 224, 1) 0%, rgba(193, 193, 193, 1) 100%);
        border-radius: 10px;
        box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.1);
      }

      .create{
        width: 430px;
        height: 100%;
        background-image: linear-gradient(45deg, rgba(224, 224, 224, 1) 0%, rgba(193, 193, 193, 1) 100%);
        border-radius: 10px;
        box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }
  .landing__specials{
    height: 1010px;
    width: 100%;
    background-color: rgba(233, 233, 233, 1);
    clip-path: polygon(0 6.06%, 100% 0%, 100% 93.94%, 0% 100%);
    overflow: auto;

    h1{
      font-family: 'Akrobat';
      font-size: 60px;
      text-align: center;
      margin-bottom: 0;
      margin-top: 70px;
    }

    .specials__block{
      height: 832px;
      width: 1211px;
      background-image: url('./imgs/special_background.png');
      background-position: 56% center;
      background-repeat: no-repeat;
      margin: -20px auto 0 auto;
      position: relative;

      .info{
        width: 210px;
        position: absolute;

        h2{
          font-family: 'Akrobat';
          font-size: 22px;
          font-weight: 600;
        }
        p{
          font-family: 'Akrobat';
          font-size: 20px;
        }
      }
      img{
        position: absolute;
      }
      #img1{
        top: 113px;
        right: 220px;
      }
      #img2{
        top: 223px;
        left: 100px;
      }
      #img3{
        top: 190px;
        right: 220px;
      }
      #img4{
        top: 484px;
        left: 164px;
      }
      #img5{
        top: 555px;
        right: 220px;
      }
      #info1{
        top: 80px;
        right: 0;
      }
      #info2{
        top: 190px;
      }
      #info3{
        top: 270px;
        right: 0;
      }
      #info4{
        top: 450px;

      }
      #info5{
        top: 520px;
        right: 0;
      }
    }
  }

  .landing__faq{
    width: 100%;
    overflow: auto;

    h1{
      font-family: 'Akrobat';
      font-size: 60px !important;
      text-align: center;
      margin-bottom: 30px;
      margin-top: 0;
    }

    .faq__block{
      margin: auto;
      width: 788px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h2{
        font-family: 'Akrobat';
        font-weight: 700;
      }
      p{
        font-size: 20px;
        margin-bottom: 0;
        padding-left: 25px;
      }

      .btn{
        width: 100%;
        height: 50px;
        display: flex;
        background-color: white;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        border-radius: 5px;
        margin-bottom: 15px;

        .arrow{
          position: absolute;
          right: 0;
          top:0;
          bottom: 0;
          width: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .rotate{
          transform: rotate(180deg);
        }

        h2{
          margin: auto 15px;
        }
      }

    }
  }

  .landing__team{
    width: 100%;
    clip-path: polygon(0 9.84%, 100% 0%, 100% 100%, 0% 100%);
    background-color: rgba(233, 233, 233, 1);
    overflow: auto;

    h1{
      font-family: 'Akrobat';
      font-size: 60px !important;
      text-align: center;
      margin-bottom: 55px;
      margin-top: 70px;
    }

    .team__block{
      display: flex;
      justify-content: space-between;
      width: 1136px;
      margin:0 auto 67px auto;

      .member{
        width: 232px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        h2{
          width: 140px;
          font-weight: 600;
          font-family: 'Akrobat';
          font-size: 30px;
          margin: 0 auto 15px auto;
        }
      }
    }


  }

  .grayWrapper{
    background-color: rgba(233, 233, 233, 1);
    margin-top:-1px;
    overflow: auto;

    .landing__registration{
      width: 100%;
      background-image: linear-gradient(170deg, rgba(255, 168, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
      clip-path: polygon(0 12.2%, 100% 0%, 100% 100%, 0% 100%);
      overflow: auto;

      h1{
        font-family: 'Akrobat';
        font-size: 60px !important;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 200px;
      }

      .registration__btns{
        display: flex;
        width: 440px;
        justify-content: space-between;
        margin: 0 auto 165px auto;

        .btn{
          height: 70px;
          width: 210px;
          background-color: rgba(255, 176, 0, 1) !important;
          border: 2px solid rgba(0, 0, 0, 1) !important;
          border-radius: 35px !important;
          padding: 7px 16px;

          h2{
            font-size: 30px !important;
          }
        }
        .btn:hover{
          background-color: rgba(253, 198, 76, 1) !important;
        }

      }
    }
  }
}

.dissapearing{
  display: none !important;
}

.itemDetails{
  @extend .createLot;
  .itemDetails__title{
    margin-top: 65px;
    max-width: 450px;
    max-height: 65px;
    overflow: hidden;
    font-family: 'Akrobat';
    font-size: 46px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    h2 {
      margin-top: 0px;
      margin-left: 0px;
      font-size: 46px;
      white-space: nowrap;
      height: 60px;
      overflow: hidden;
    }
  }
  h2{
    font-family: 'Akrobat';
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
  }
  .itemDetails__favoriteBtn{
    margin: 0;
    position: relative;
    top: 15px;
    left: 30px;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    text-align: center;
    border: none;
    padding: 1px 5px;
    background-color: rgba(228, 228, 228, 1);
  }
  .btnFav{
    background-color: rgba(255, 176, 0, 1);
  }
  .btnFav:hover{
    background-color: rgba(253, 198, 76, 1);
  }
  .itemDetails__favoriteBtn:hover{
    background-color: rgba(253, 198, 76, 1);
  }
  .itemDetails__imgs{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    height:390px;
    width: 525px;
    overflow: hidden;
  }
  .main__img{
    height: 390px;
    width: 390px;
    border-radius: 5px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    img{
      max-height: 100%;
      max-width: 100%;
    }
  }
  .secondary__img{
    max-height: 375px;
    width: 130px;
    text-align: center;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    .secondary-img-div {
      border-radius: 5px;
      box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1);
      height: 75px;
      width: 130px;
      img{
        max-height: 100%;
        max-width: 100%;
      }
    }

  }
  p{
    margin-top: 20px;
    line-height: 80%;
    font-family: 'Akrobat';
    font-size: 20px;
    font-weight: 300;
    color: rgba(0, 0, 0, 1);
  }
  a{
    font-family: 'Akrobat';
    font-size: 20px;
    font-weight: 300;
    color: rgba(6, 35, 128, 1);
  }
  .itemDetails__info {
    @extend .createLot__info;
    width: 100%;
    height: 100%;
    max-width: 1070px;
    margin-bottom: 0px;
    .itemDetails__small {
      font-family: 'Akrobat';
      font-size: 14px;
      font-weight: 300;
      color: rgba(0, 0, 0, 1);
      margin-top: 12px;
      .error{
        color: orangered;
        margin-top: 0px;
        margin-left: 5px;
      }
    }
    .itemDetails__bold{
      font-family: 'Akrobat';
      font-size: 24px;
      font-weight: bold;
      color: rgba(0, 0, 0, 1);
      margin-top: 20px;
    }
    .itemDetails__description{
      @extend .createLot__addInfo;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      align-content: space-between;
      width: 550px;
      height: 390px;
      .itemDetails__makeBet{
        margin-top: 35px;
      }
      .itemDetails__inline{
        display: flex;
        flex-direction: row;
        p{
          font-size: 18px;
        }
      }
      .itemDetails__descriptionField{
        font-family: 'Akrobat';
        font-size: 18px;
        font-weight: 300;
        color: rgba(0, 0, 0, 1);
        height: 110px;
        width: 520px;
        padding-right: 10px;
        overflow:hidden;
      }
      .itemDetails__descriptionField:hover{
        overflow-y: scroll;
      }
      .itemDetails__descriptionField::-webkit-scrollbar {
        width: 5px;
      }
      .itemDetails__descriptionField::-webkit-scrollbar-track {
        background-color: rgba(228, 228, 228, 1);
        border-radius: 3px;
      }
      .itemDetails__descriptionField::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: rgba(255, 174, 0, 1);
      }
      .itemDetails__input{
        width: 90px;
        height: 40px;
        margin-top: 5px;
        font-family: 'Akrobat';
        font-size: 25px;
        font-weight: 300;
        text-align: right;
        margin-bottom: 0;
      }
      .itemDetails__betBtn{
        height: 36px;
        width: 152px;
        background-color: rgba(255, 174, 0, 1);
        border-radius: 5px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
        margin-top: 0;
        margin-left: 12px;
        margin-bottom: 0;
        padding: 1px 5px;
        p{
          margin-top: 0;
          margin-bottom: 0;
          font-size: 20px;
        }
      }
      .itemDetails__betBtn:hover{
        background-color: rgba(235, 184, 76, 1);
      }
      .itemDetails_progressBar {
        margin-top: 35px;
        width: 320px;
        height: 7px;
        border-radius: 4px;
        background: rgba(228, 228, 228, 1);
      }
      h3{
        font-family: 'Akrobat';
        font-size: 25px;
        font-weight: 300;
        color: rgba(0, 0, 0, 1);
        text-align: left;
      }
      .itemDetails__backBtn{
        position: absolute;
        right: 0;
         height: 36px;
         width: 71px;
         padding: 1px 5px;
         background-color: rgba(255, 255, 255, 1);
         border-radius: 5px;
         box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
         p{
           margin-top: 0;
           margin-bottom: 0;
           font-size: 20px;
         }
       }
    }
    .itemDetails__timer{
      position: relative;
      top: -7px;
      left: 0px;
      height: 18px;
      width: 125px;
      margin-bottom: 30px;
      b{
        font-family: 'Akrobat';
        font-size: 25px;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
      }
    }
  }
  .itemDetails__rouletteWrapper{
    height:128px;
    width: 640px;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 40px;
  }
  .itemDetails__draw{
    margin-bottom: 30px;
    text-align: center;

    img{
      width: 128px;
      height: 128px;
    }
    h1{
      margin-bottom: 25px;
    }
    .itemDetails__innerDrawWrapper{
      height: 128px;
      width: 640px;
      position: relative;
      margin: auto;
      box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.35);
      background-color: rgba(255, 255, 255, 1);
      border-radius: 5px;


      .arrow-up {
        position: absolute;
        width: 0;
        height: 0;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 41px solid rgba(255, 174, 0, 1);
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.35);
        border-radius: 5px;

      }
    }
  }
  .itemDetails__bet{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    .form-horizontal{
      height: 32px;
    }
    .form-group{
      width: 100%;
      height: 32px;
    }
  }
}
.rouletteImg{
  position: relative;
  p{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.item {
  background-color: white;
  box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  text-align: center;
  width: 330px;
  height: 400px;
  float: left;
  position: relative;
    .hot{
      position: absolute;
      top: 25px;
      left: -20px;
      height: 30px;
      width: 84px;
      background-color: rgba(255, 120, 0, 1);
      border-radius: 5px;
      display: flex;

      img{
        margin: auto;
        height: 80%;
      }
  }
  p {
    color: black;
    margin-bottom: 7px;
    font-size: 18px !important;
  }
  h2 {
    margin-top: 0.1em;
    line-height: 80%;
    margin-bottom: 5px !important;

  }

  .sum{
    h2{
      margin-bottom: 20px !important;
    }
  }
  small {
    line-height: 0;
  }
  .all-sum {
    color: green;
  }
  .Item__img {
    height: 200px;
    width: 310px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
  }
  img {
    max-height: 100%;
    max-width: 100%;
  }
  .button {
    margin-bottom: 12px;
    height: 27px;
    background-color: rgba(210, 210, 210, 1);
    font-size: 18px;
    border: none;
    box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.26);
    padding: 1px 5px;
  }
  .button:hover{
    background-color: rgba(255, 176, 0, 1);
  }
  .button:focus{
    background-color: rgba(255, 176, 0, 1);
  }
  .button:active{
    background-color: rgba(255, 176, 0, 1);
  }
  .mkbetBtn:hover{
    background-color: rgba(253, 198, 76, 1)
  }
  .btnFav{
    background-color: rgba(255, 176, 0, 1);
  }
  .btnFav:hover{
    background-color: rgba(253, 198, 76, 1);
  }
  .mkbetBtn {
    width: 250px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(255, 176, 0, 1);
    margin-right: 20px;

  }
  .link-style {
    color: black;
  }
}

.Main {

  .items {
    flex: 1 1 auto;
    background-color: white;
    max-width: 1111px;
    min-width: $min_width;
    margin:auto;

    .itemList{
      display: grid;
      grid-template-columns: repeat(auto-fill, 330px);
      grid-gap: 40px 60px;
      height: 100%;
      width: 100%;
      margin-bottom: 40px;
    }



    h1{
      font-family: 'Akrobat';
      margin: 25px 0;
    }

    h2{
      font-family: 'Akrobat';
      font-size: 24px;
      margin-bottom: 10px;
      margin-top:0;
      white-space: nowrap;
      overflow: hidden;
      margin-left: 10px;
      height: 26px;
    }

    p{
      font-family: 'Akrobat';
      font-size: 15px;
    }

    .panel {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      height: 100px;
      width: 100%;
      border-radius: 5px;
      box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.35);
      margin-bottom: 25px;


      .filter {
        width: 24%;
        margin-left: 20px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 27.5px;

        .checkbox{
          height: 45px;
          margin: auto auto 3px auto;
        }

        .form-control{
          height: 24px;
          padding: 1px 12px;
        }
      }
      Button {
        width: 215px;
        height: 45px;
        background-color:  rgba(255, 176, 0, 1);
        border: none;
        box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.26);
        h2{
          margin: auto;
        }
      }
      Button:hover{
        background-color: rgba(253, 198, 76, 1)
      }
      label {
        font-weight: inherit;
        margin-top: 3%;
        line-height: 70%;
      }
    }
  }
  .addButton {
    margin: 30px auto;
    text-align: center;
    position: fixed;
    right: 135px;
    bottom: 20px;
    width: 120px;
    height: 120px;
    z-index: 5;
  }
  .round {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 10;
    border-width: 4px;
    border-style: solid;
  }

  .round:hover {
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 0px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    border-size: 10px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }

  .red {
    background-color: rgba(255, 120, 0, 1);
    color: rgba(133,32,28,1);
    border-color: rgba(133,32,28,.2);
  }

  .red:hover {
    background-color: rgba(253, 198, 76, 1);
    text-decoration: none;
  }

  .red:visited {
    color: black;
    text-decoration: none;
  }

  .round span.round {
    opacity: 0;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 35% 20% 0 20%;
    color: #fff;
  }

  .round span:hover {
    opacity: .85;
    font-size: 30px;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
  }

  .red span {
    background: rgba(133,32,28,.7);
  }
}
.profile {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1111px;
  min-width:$min_width;
  margin: 60px auto auto auto;
  display: flex;
  flex-direction: column;
  h1{
    margin-top: 60px;
    font-family: 'Akrobat';
    font-size: 36px;
    font-weight: 300;
    color: rgba(0, 0, 0, 1);
  }
  h2{
    font-family: 'Akrobat';
    font-size: 24px;
    margin-bottom: 10px;
    margin-top:0;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
    height: 26px;
  }
  .profile__userInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .profile__img{
      min-width: 200px;
      max-width: 200px;
      min-height: 170px;
      margin-bottom: 10px;
      text-align:center;
      justify-content: space-between;
      .change-photo{
        overflow:hidden;
        .change-photo-button {
          z-index: 5;
          width: 200px;
          height: 30px;
        }
        .input-img{
          font-size: 30px;
          opacity: 0;
          position: relative;
          top: -30px;
          left: -10px;

        }
      }
      .userImg {
        max-width: 100%;
        max-height: 100%;
      }


    }
    .userInfoCol{
      display: flex;
      flex-direction:column;
      margin-left: 20px;
      overflow: hidden;
      width: 380px;
      height: 100%;
      justify-content: space-between;
      .has-feedback label~.form-control-feedback {
        top: 0;
      }
      .form-horizontal .has-feedback .form-control-feedback {
        right: 0;
      }
      .form-horizontal{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        max-width: 100%;
        height: 100%;
      }
      .form-group {
        margin: 0 0 10px 0;
        .input-group{
          display: flex;
          flex-direction: row;
          max-width: 100%;
        }
        label{
          margin-right: 20px;
          margin-top: 0;
          white-space: nowrap;
          font-family: 'Akrobat';
          font-size: 24px;
          font-weight: 300;
          color: rgba(0, 0, 0, 1);
        }
        .form-control{
          height: 30px;
          padding: 2px 12px;
          font-family: 'Akrobat';
          font-size: 24px;
          font-weight: 300;
          color: rgba(0, 0, 0, 1);
          margin-top: 4px;
        }
      }
    }
  }


  .profile-right-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .change-profile-button {
    right: 0px;
    top: 0px;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    font-size: 46px;
    padding: 0;
  }
  .save-change-profile-button {
    right: 0px;
    margin-bottom: 25px;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    font-size: 46px;
    padding: 0;
    background-color: rgba(255, 174, 0, 1);

  }

  .no-edit-label-fix {
    font-family: 'Akrobat';
    font-size: 24px;
    font-weight: 300;
    color: rgba(0, 0, 0, 1);
    text-align: left;
  }

  .profile__items{

    .panel-body{
      font-family: Akrobat;
      font-size: 18px;
      font-weight: 300;
      color: #000;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
    }
    .panel-default{
      background-color: rgb(255, 255, 255);
      border: 2px solid rgba(87, 87, 87, 1);
      border-radius: 5px;
    }
    .panel-heading{
      background-color: rgb(255, 255, 255);
      border: 0px;
    }
    .panel-title{
      font-family: 'Akrobat';
      font-size: 30px;
      font-weight: 300;
      color: rgba(87, 87, 87, 1);
    }

    .hide-button{
      float: right;
      margin-top: 0px;
      height: 35px;
      width: 179px;
      padding-top: 0;
      padding-right: 7px;
      div{
        font-family: 'Akrobat';
        font-size: 24px;
        font-weight: 300;
        color: rgba(0, 0, 0, 1);
        text-align: right;
      }
    }
  }
}